<ion-header>
  <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col size="2" pull-md="10">
              <button class="button" style="background-color: white" (click)="backToPage()">
                <img src="assets/image/arrow.png" style="width: 16px;height: 16px">
              </button>
            </ion-col>
            <ion-col style="text-align: left;color: grey">
                Create Account
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <img src="assets/image/top_background.png">
</div>
  <div style="text-align: center">
    <h6>Join BitZean</h6>
    <p style="color:grey;">
      we will help you to create new account in easy step
    </p>
    <button class="button" block  (click)="goToFormPage()" style="margin-top: 8%; width:80%;height: 42px;background-color: #3a7be0">
      <p style="color: white;font-size: 16px;font-family: Arial">
        next
      </p>
    </button>
  </div>

</ion-content>

<ion-footer>
  <div style="text-align: center">
    <p style="color: blue">Already have an account ?</p>
  </div>
</ion-footer>
